* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

a, a:hover {
    text-decoration: none;
}

#header {
    background: #2d2d2d;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.header__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__menu__buttons__item {
    font-family: sans-serif;
    padding: 15px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    background: #6cd56b;
    font-weight: bolder;
    margin-left: 16px;
}

.header__menu__nav__item {
    font-family: sans-serif;
    font-weight: bolder;
    margin: 0 20px;
    color: #ff0000;
}

.active {
    color: #29e328;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;
}

.col-3{
    width: 20%;
    padding: 0 15px;
}